---
export interface Props {
  stocks: any[];
}

const { stocks } = Astro.props;
---

<div class="overflow-x-auto border border-gray-200 rounded-lg shadow-sm bg-white">
  <table class="min-w-full text-xs" >
    <thead class="bg-gray-100 border-b border-gray-200">
      <tr class="text-left">
        <th class="px-2 py-2 font-semibold">Ticker</th>
        <th class="px-2 py-2 font-semibold text-right">Yield</th>
        <th class="px-2 py-2 font-semibold text-right">Dividend Amt</th>
        <th class="px-2 py-2 font-semibold text-right">Years Increasing</th>
        <th class="px-2 py-2 font-semibold text-right">Payout Ratio</th>
        <th class="px-2 py-2 font-semibold text-right">DGR 3Y</th>
        <th class="px-2 py-2 font-semibold text-right">DGR 5Y</th>
        <th class="px-2 py-2 font-semibold text-right">Ex-Dividend Date</th>
        <th class="px-2 py-2 font-semibold text-right">Recessions Survived</th>
      </tr>
    </thead>
    <tbody>
      {stocks.map((s) => {
        const divs = s.dividends || {};
        const summary = s.summary || {};

        const lastDividend = summary?.dividends?.rate ?? null;
        const dividendYield = summary?.dividends?.yield ?? null;
        const exDate = summary?.dividends?.exDate
          ? new Date(summary.dividends.exDate).toLocaleDateString()
          : "N/A";

        return (
          <tr class="border-b last:border-0 hover:bg-gray-50">
            <td class="px-2 py-1 font-bold">{s.ticker}</td>
            <td class="px-2 py-1 text-right">{dividendYield ? (dividendYield * 100).toFixed(2) + "%" : "N/A"}</td>
            <td class="px-2 py-1 text-right">{lastDividend ?? "N/A"}</td>
            <td class="px-2 py-1 text-right">{summary.dividends.increasingYears ?? 'N/A'}</td>
            <td class="px-2 py-1 text-right">{summary.dividends.payoutRatio ? (summary.dividends.payoutRatio * 100).toFixed(0) + "%" : "N/A"}</td>
            <td class="px-2 py-1 text-right">{summary.dividends.dgr3 != null ? summary.dividends.dgr3.toFixed(2) + '%' : 'N/A'}</td>
            <td class="px-2 py-1 text-right">{summary.dividends.dgr5 != null ? summary.dividends.dgr5.toFixed(2) + '%' : 'N/A'}</td>
            <td class="px-2 py-1 text-right">{exDate}</td>
            <td class="px-2 py-1 text-right">Soon</td>
          </tr>
        );
      })}
    </tbody>
  </table>
</div>
